#About{
    background-color: $heavenlyPinkColor;
    color: $gutsyGrapeColor;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    h1{
        margin-bottom: $spacing-medium;
        text-align: center;
    }
    p{
        margin: $spacing-medium 0;
        max-width: 380px;
        text-align: center;
    }
    img{
        margin: 0 auto $spacing-large;
    }
}

@media (min-width: 860px) {
    #About{
        flex-direction: row;
        justify-content: center;
        gap: 32px;
        text-align: left;
        padding: 5rem 2rem;
        h2{
            margin-bottom: $spacing-xlarge;
        }
        p{
            text-align: left;
            max-width: 675px;
        }
        img{
            margin: 0;
        }
    }
}