#Contact{
    background-color: $gutsyGrapeColor;
    color: $aspenSnowColor;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;    
    padding-bottom: 9rem;
    text-align: center;
    h2{
        margin-bottom: $spacing-large;
    }
    p{
        margin-bottom: $spacing-xlarge;
        max-width: 380px;
        text-align: center;
    }
    ul{
        list-style: none;
        text-align: left;
        align-self: flex-start;
        width: 100%;
        margin: auto;
        max-width: 380px;
        li{
            margin-bottom: $spacing-medium;
            a{
                color: $aspenSnowColor;
                text-decoration: none;
                cursor: pointer;
            }
            label{
                font-size: 20px;
                line-height: 24px;
            }
            span{
                background-color: $aspenSnowColor;
                border-radius: 50%;
                width: 26px;
                height: 26px;
                display: inline-block;
                text-align: center;
                margin-right: $spacing-small;
                img{
                    width: 14px;
                    margin-top: 6px;
                }
            }
        }
    }
    footer{
        background-color: $darkRose;
        padding: $spacing-medium;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        ul{
            display: flex;
            flex-direction: row;
            gap: 24px;
            justify-content: center;
            margin: auto;
            li{
                margin-bottom: $spacing-small;
            }
            small{
                font-size: 14px;
            }
        }
    }
}

@media (min-device-width: 860px) {
    #Contact{
        p{
            max-width: 540px;
        }
        ul{
            max-width: 540px;
            li {
                span{
                    width: 34px;
                    height: 34px;
                    img{
                        width: 20px;
                        margin-top: 8px;
                    }
                }
                label{
                    font-size: $spacing-large;
                    letter-spacing: 3px;
                }
            }
        }
        footer{
            ul{
                li{
                    img{
                        height: 30px;
                    }
                }
            }
            small{
                font-size: 18px;
            }
        }
    }
}

@media (min-device-width: 1200px) {
    #Contact{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 60px;
        text-align: left;
        h2{
            margin-bottom: $spacing-xlarge;
        }
        p{
            text-align: left;
        }
        ul{
            margin: $spacing-large 0;
            align-self: end;
            li label{
                font-size: $spacing-large;
                letter-spacing: 3px;
            }
        }
    }
}