#Hero{
    background-color: $jaguarRose;
    min-height: calc(100vh);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    gap: 32px;
    padding-top: 60px;
    img{
        width: 235px;
        margin: 0 auto;
    }
    h1{
        max-width: 237px;
        margin: 0 auto;
        color: $gutsyGrapeColor;
    }
}

@media (min-width: 860px) {
    #Hero{
        gap: $spacing-xlarge;
        h1{
            max-width: 620px;
        }
        img{
            width: 275px;
        }
    }
}