// Main Colors
$gutsyGrapeColor: #558476;
$babyAquaColor: #aecdc4;
$aspenSnowColor: #f2f2ea;
$heavenlyPinkColor:#F2DADB;
$jaguarRose:#edb7bc;
$darkRose:#c76675;
$whiteColor: #fff;

$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 32px;
$spacing-xlarge: 46px;